Concesionario/Concesionario.dtd

<!ELEMENT Concesionario (coche*)>
<!ELEMENT coche (codigo_coche, marca, modelo, matricula, potencia, plazas, numero_puertas)>
<!ELEMENT codigo_coche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numero_puertas (#PCDATA)>