Concesionario/Concesionario.dtd

<!ELEMENT Biblioteca (coche*)>
<!ELEMENT coche (codigo_coches, marca, matrícula, potencia, plazas, numero_puertas*)>
<!ELEMENT codigo_coche (#PCDATA)>
<!ELEMENT marca (modelo*)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matrícula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numero_puertas (#PCDATA)>